body {
    background-color: #FBFBFB;
    margin: 0;
    font-family: 'Poppins', sans-serif;
}

a {
    color: inherit;
    text-decoration: none;
}

.primary-heading {
    color: #8C0087;
    font-family: 'Playfair Display', serif;
    font-size: 3.5rem;
    font-weight: 700;
    margin: 0 0 1rem;
}

.btn {
    border: none;
    border-radius: 2px;
    cursor: pointer;
    font-size: 0.8rem;
    font-weight: 600;
    outline: none;
    text-transform: uppercase;
}

.primary-btn {
    background-color: #8C0087;
    color: #FFFFFF;
    padding: 15px 2rem;
}

.secondary-btn {
    background-color: transparent;
    border: 2px solid #8C0087;
    color: #8C0087;
    padding: 13px 2rem;
}

@media only screen and (max-width: 720px) {
    .primary-heading {
        font-size: 2.8rem;
    }
  }