html {
    scroll-behavior: smooth;
}

body {
    background-color: #FBFBFB;
    margin: 0;
    font-family: 'Poppins', sans-serif;
}

a {
    color: inherit;
    text-decoration: none;
}

.primary-heading {
    font-size: 2rem;
    font-weight: 500;
    margin: 1rem 0;
    text-transform: uppercase;
}

.btn {
    border: none;
    border-radius: 2px;
    cursor: pointer;
    font-size: 0.8rem;
    font-weight: 600;
    letter-spacing: 2px;
    outline: none;
    text-transform: uppercase;
}

.primary-btn {
    background-image: linear-gradient(135deg, #8198fc, #923ceb);
    box-shadow: 0 5px 15px rgba(146, 60, 235, 0.75);
    color: #FFFFFF;
    padding: 15px 2rem;
}

.secondary-btn {
    background-color: transparent;
    border: 2px solid #923ceb;
    color: #923ceb;
    padding: 13px 2rem;
}

@media only screen and (max-width: 720px) {
    .primary-heading {
        font-size: 2.8rem;
    }
  }